- name: get kops latest version
  shell: curl -s https://api.github.com/repos/kubernetes/kops/releases/latest | grep tag_name | cut -d '"' -f 4
  register: kops_version_result
- name: install kops
  get_url:
    url: https://github.com/kubernetes/kops/releases/download/{{ kops_version_result.stdout }}/kops-linux-amd64
    dest: /usr/local/bin/kops
    mode: 0755
  become: yes
